
    .topics dt{
        float:left;
   
    }

    

    .photo{
        position: absolute;
        top:65%;
        left: 20%;
    }

    .footer{
        color:black;
        width: 100%;
        text-align: center;
        position: absolute;/*←絶対位置*/
        bottom: 0; /*下に固定*/
    }


    @media screen and (max-width: 590px) {
        .topics dt{
            float:left;
            width:30%
        }
        .topics dd{
            padding-left:0;
        }
    
        .topics{
            margin-left: 6%;
            margin-top:250px;
        }
    
        .photo{
            position: absolute;
            top:530px;
            left: 30%;
        }
        .profStg{
            margin-bottom: 45px;
            position: absolute;
            top:350px;
            left: 35px; 
            right: 0;
        }
        .footer{
            color:black;
            width: 100%;
            text-align: center;
            position: absolute;/*←絶対位置*/
            bottom: -200px; /*下に固定*/
            font-size: 12px;
        }
        }


@media screen and (min-width: 591px) {
    .topics dt{
        float:left;
        width:25%
    }
    .topics dd{
        padding-left:10%;
    }

    .topics{
        margin-left: 20%;
        margin-top:250px;
    }

    .photo{
        position: absolute;
        top:70%;
        left: 40%;
    }

    .profStg{
        margin-bottom: 45px;
        position: absolute;
        top:350px;
        left: 20%;
        right: 0;
    }

    .footer{
        color:black;
        width: 100%;
        text-align: center;
        position: absolute;/*←絶対位置*/
        bottom: -200px; /*下に固定*/
    }

    }

    @media screen and (min-width: 840px) {
        .topics dt{
            float:left;
            width:20%
        }
        .topics dd{
            padding-left:10%;
        }

        .topics{
            margin-left: 40%;
            margin-top:0;
        }
        
        .photo{
            position: absolute;
            top:65%;
            left: 20%;
        }
        .profStg{
            margin-bottom: 45px;
            position: absolute;
            top:350px;
            left: 30%;
            right: 0;
        }

        .footer{
            color:black;
            width: 100%;
            text-align: center;
            position: absolute;/*←絶対位置*/
            bottom: 0; /*下に固定*/
        }
        
        }

    @media screen and (min-width: 1085px) {
        .topics dt{
            float:left;
            width:15%
        }
        .topics dd{
            padding-left:10%;
        }

        .topics{
            margin-left: 35%;
            margin-top:0;
        }
        
        .photo{
            position: absolute;
            top:65%;
            left: 20%;
        }
        }